<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true" [navbarBrandFull]="{src: 'assets/img/sidebar-logo.png', width: 89, height: 25, alt: 'SGC Logo'}" [navbarBrandMinimized]="{src: 'assets/img/sidebar-logo-min.png', width: 30, height: 30, alt: 'SGC Logo'}"
    [sidebarToggler]="'lg'" [asideMenuToggler]="false">
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#/users">Usuários</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#/about"><i class="icon-question"></i></a>
        </li>
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                <img src="assets/img/user.jpeg" class="img-avatar" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center">
                    <!-- <strong>{{ user.nome }}</strong> -->
                </div>
                <div class="divider"></div>
                <!-- <a class="dropdown-item" href="#/users/edit/{{ user.id }}" title="Editar informações">
                    <i class="fa fa-lock"></i>Editar
                </a>
                <a class="dropdown-item" (click)="logout()" title="logout" style="background-color: #f86c6b; color: #fff">
                    <i class="fa fa-sign-out"></i>Sair
                </a> -->
            </div>
        </li>
    </ul>
</app-header>
<div class="app-body">
    <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <!-- breaking change 'cui-breadcrumb' -->
        <cui-breadcrumb>
            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Resumo</a>
                </div>
            </li>
        </cui-breadcrumb>
        <div class="container-fluid">
            <ngx-spinner bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-beat">
            </ngx-spinner>
            <router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->
    </main>
</div>
<app-footer>
    <span class="footer-logo-brand"><a [routerLink]="['/dashboard']"><img src="assets/img/footer-logo.png"
				height="20px"></a></span>
    <span class="ml-auto">User CRUD &copy; 2020</span>
</app-footer>