<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" (click)="onCancel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{{ message }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-{{cancel}}" (click)="onCancel()"><i
				class="fa fa-ban mr-1"></i>Cancelar</button>
        <button type="button" class="btn btn-{{confirm}}" (click)="onConfirm()"><i
				class="fa fa-check mr-1"></i>Confirmar</button>
    </div>
</div>